<div class="ex-flex-grid">
    <div data-bind="wjFlexGrid: { initialized: onInitialized }"></div>

    <!-- <wj-flex-grid style="height:300px" items-source="itemsSource" auto-generate-columns="false"> -->
    <!-- <div data-bind="wjFlexGrid: { 'initialized': 'onInitialized', 'auto-generate-columns': false }"> -->
    <!-- autoGenerateColumns -->
    <!-- <div data-bind="exFlexGrid: 'customBindings', wjFlexGrid: { initialized: onInitialized, 'auto-generate-columns': false }"> -->
    <!-- <div data-bind="exFlexGrid: 'customBindings', wjFlexGrid: { initialized: onInitialized, autoGenerateColumns: false }"> -->
    <!-- <div data-bind="wjFlexGrid: { initialized: onInitialized }">
        <div data-bind: "wjFlexGridColumn: { binding:'id', header:'ID' }"></div>
        <div data-bind: "wjFlexGridColumn: { binding:'country', header:'country' }"></div>
        <div data-bind: "wjFlexGridColumn: { binding:'Date', header:'Date' }"></div>
        <div data-bind: "wjFlexGridColumn: { binding:'amount', header:'amount' }"></div>
        <div data-bind: "wjFlexGridColumn: { binding:'active', header:'active' }"></div>
    </div> -->
    <!-- <wj-flex-grid exFlexGrid="customBindings" initialized="onInitialized" auto-generate-columns="false">
        <wj-flex-grid-column binding="'id'" header="'ID'"></wj-flex-grid-column>
        <wj-flex-grid-column binding="'country'" header="'Country'"></wj-flex-grid-column>
        <wj-flex-grid-column binding="'date'" header="'Date'"></wj-flex-grid-column>
        <wj-flex-grid-column binding="'amount'" header="'Amount'"></wj-flex-grid-column>
        <wj-flex-grid-column binding="'active'" header="'Active'"></wj-flex-grid-column>
    </wj-flex-grid> -->
</div>