<div>

    <div id="subtree" class="split split-horizontal">
        subtree
    </div>
    <div id="main-contents" class="split split-horizontal">

        <div>
            <button class="btn btn-primary" data-bind="event: { click: onClickShowModalBtn }">モーダル表示</button>
        </div>

        <div>
            <div>
                <button data-bind="click: onClickLoadGridDataButton">データ読み込み</button>
            </div>
            <!-- <ex-flex-grid></ex-flex-grid> -->
            <!-- <div data-bind="component: 'ex-flex-grid'"></div> -->
            <div data-bind="component: { name: 'ex-flex-grid', params: flexGridComponent }"></div>
        </div>
        <div>
            <div data-bind="component: 'top-component'"></div>
        </div>

        <div>
            <div data-bind="component: 'center-component'"></div>
        </div>

        <div>
            <div data-bind="component: 'bottom-component'"></div>
        </div>

        <div>
            <parent-modal params="parent: $data"></parent-modal>
            <!-- <child-modal></child-modal> -->
        </div>
    </div>
</div>