<div>

    <div id="subtree" class="split split-horizontal">
        subtree
    </div>
    <div id="main-contents" class="split split-horizontal">
        <div>
            <div>
                <button data-bind="click: onClickLoadGridDataButton">データ読み込み</button>
            </div>
            <!-- <ex-flex-grid></ex-flex-grid> -->
            <!-- <div data-bind="component: 'ex-flex-grid'"></div> -->
            <div data-bind="component: { name: 'ex-flex-grid', params: flexGridComponent }"></div>
        </div>
        <div>
            <div data-bind="component: 'top-component'"></div>
        </div>

        <div>
            <div data-bind="component: 'center-component'"></div>
        </div>

        <div>
            <div data-bind="component: 'bottom-component'"></div>
        </div>

        <!-- <div>
            <label>text1:<input data-bind="value: text1"></label>
        </div>
        <div>
            <label>text2:<input data-bind="textInput: text2"></label>
        </div>
        <div>
            <label>textArea1:<input data-bind="textInput: textArea1"></label>
        </div>
        <div>
            <label>radio1=1:<input type="radio" name="radioGroup" data-bind="checked: radio1" value="radio1"></label>
            <label>radio1=2:<input type="radio" name="radioGroup" data-bind="checked: radio1" value="radio2"></label>
            <label>radio1=3:<input type="radio" name="radioGroup" data-bind="checked: radio1" value="radio3"></label>
        </div>

        <div>
            <label>checkBox=1:<input type="checkbox" data-bind="checked: checkBoxCheckes" value="checkbox1"></label>
            <label>checkBox=2:<input type="checkbox" data-bind="checked: checkBoxCheckes" value="checkbox2"></label>
            <label>checkBox=3:<input type="checkbox" data-bind="checked: checkBoxCheckes" value="checkbox3"></label>
        </div>

        <button data-bind="event: { click: onClickDisplayBtn }">表示</button> -->
    </div>
</div>